footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ropa;
    font-size: 1.2rem;
    padding-left: 1rem;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 2rem;
        li{
            float: left;
        }

        .contact-item{
            margin: 1rem;
        }
        .contact-item > a{
            color: inherit;
            text-align: center;
            transition: 0.15s;
        }
        .contact-item > a:hover{
            color: #2f46af
        }        
    }
    @media (max-width: 750px){
        ul{
            margin: 1rem 0.4rem;
            .contact-item{
                margin: .2rem;
                font-size: 1.5rem;
            }
        }
    }
}
