<footer>
    &copy; 2021 George Papadopoulos.
    <ul>
        <li class="contact-item footer-item">
            <a href="https://www.linkedin.com/in/george-papadopoulos-3a9072154/">
                <fa-icon [icon]="faLinkedIn"></fa-icon>
            </a>
        </li>
        <li class="contact-item footer-item">
            <a href="https://github.com/cgeopapa">
                <fa-icon [icon]="faGitHub"></fa-icon>
            </a>
        </li>
        <li class="contact-item footer-item">
            <a href="mailto:cgeopapa@gmail.com">
                <fa-icon [icon]="faMail"></fa-icon>
            </a>
        </li>
    </ul>
</footer>
