<h3 id="projects">Projects</h3>
<p>So what can I do with all these technologies? Take a look</p>
<mat-tab-group [backgroundColor]="backgroundColor" [color]="color" style="height: 40rem; overflow-y:hidden;">
    <mat-tab *ngFor="let lang of langs" label={{lang}}>
        <div *ngFor="let repo of repos">
            <div *ngIf="(repo.lang === lang) || lang === 'All'" fxLayoutAlign="center">
                <div fxLayout="row" fxLayoutAlign="space-between" class="project-container">
                    <div style="text-align: left; padding-right: 2rem;">
                        <h4>{{repo.name}}</h4>
                        <p>{{repo.desc}}</p>
                    </div>
                    <div style="align-self: center;">
                        <a href={{repo.url}} target="_blank" mat-stroked-button>Show on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
