nav{
    background-color: rgb(50, 50, 50);
    border-bottom: 2px solid rgb(70, 70, 70);
    border-right: 2px solid rgb(50, 50, 50);
    border-left: 2px solid rgb(50, 50, 50);

    position: sticky;
    top: 0px;
    z-index: 100;
}

a{
    padding: 16px;

    background-color: transparent;
    border: none;
    text-align: center;
    transition: 0.3s;
    opacity: 0.8;

    font-family: ropa;
    font-size: 22px;
}

.nav-title{
    font-size: 26px;
    letter-spacing: 1px;
}
