nav{
    background-color: rgb(50, 50, 50);
    border-bottom: 2px solid rgb(70, 70, 70);
    border-right: 2px solid rgb(50, 50, 50);
    border-left: 2px solid rgb(50, 50, 50);

    position: sticky;
    top: 0px;
    z-index: 100;
}

a{
    padding: 16px;

    background-color: transparent;
    border: none;
    text-align: center;
    opacity: 0.8;

    font-family: ropa;
    font-size: 1.6rem;
}

@media (max-width: 750px){
    a{
        padding: 0.2rem;
        font-size: 1.2rem;
    }
}
