<nav id="navbar">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div>
            <a class="nav-title" href="/" mat-button>GEORGE PAPADOPOULOS</a>
            <!-- <a class="nav-button nav-title" href="index.html">GEORGE PAPADOPOULOS</a> -->
        </div>
        <div fxLayout="row">
            <a href="#skills" mat-button>Skill Set</a>
            <a href="#projects" mat-button>Projects</a>
            <a href="live-projects.html" title="Projects you can run on your browser" mat-button>Live Projects</a>
        </div>
    </div>
</nav>
