<header fxLayout="row" fxLayoutAlign="center">
    <div style="text-align: center;">
        <a routerLink="/">
            <img style="border-radius: 50%;" src="../../assets/img/logo.jpg" alt="logo" width="128">
        </a>
        <h1>Live Projects</h1>
        <h2>Here is a list of projects you can run on your browser. Click on the link and check them out</h2>
    </div>
</header>
<main>
    <div id="projects-container" style="overflow-y: initial;">
        <div class="live-project">
            <a href="https://mpksa20010-security-managment.firebaseapp.com/" target="_blank" class="img">
                <img src="../../assets/img/cramm.png" height="auto" width="100%">
            </a>
            <div class="desc">
                <div>
                    <h3>CRAMM Risk Assessment <em>(university project)</em></h3>
                    <p>A project for my master degree. A simple tool to aiming to assist on the process of risk assessment. 
                        Following the CRAMM standard, it provides has features like Asset Cartography, Impact Assessment, Threat Assessment and summarizing the result in a Result Table. 
                        <br><br>
                        Hosted on Firebase Hosting service and utillizing Firebase's realtime database. Developed using ReactJS and Typescript.
                    </p>
                </div>
                <a mat-stroked-button 
                href="https://mpksa20010-security-managment.firebaseapp.com/"
                target="_blank">Goto page <fa-icon [icon]="link"></fa-icon></a>
            </div>
        </div>
        <div class="live-project">
            <a href="https://beerator-server.herokuapp.com/" target="_blank" class="img">
                <img src="../../assets/img/beerator.png" height="auto" width="100%">
            </a>
            <div class="desc">
                <div>
                    <h3>BeerRator</h3>
                    <p>A note taking app regarding different types of beers I have tasted over the years. Take a photo of a beer
                        name it and give it a description.<br><br>
                        Hosted on Heroku free tier, so it might take a few seconds to load.
                    </p>
                </div>
                <a mat-stroked-button 
                href="https://beerator-server.herokuapp.com/"
                target="_blank">Goto page <fa-icon [icon]="link"></fa-icon></a>
            </div>
        </div>
        <div class="live-project">
            <a href="https://movies-uni.herokuapp.com/" target="_blank" class="img">
                <img src="../../assets/img/movies.png" height="auto" width="100%">
            </a>
            <div class="desc">
                <div>
                    <h3>Movies <em>(university project)</em></h3>
                    <p>Log-in or register a new account. Search for movies (using the omdb API) and desplay their plot, actors, rating etc. Bookmark your favorite movies and see them in the bookmark view list.<br><br>
                        Created using Java spring for the backend server and HTML/CSS and vanilla Javascript for the frontend. <br><br>
                        Hosted on Heroku free tier, so it might take a few seconds to load.
                    </p>
                </div>
                <a mat-stroked-button 
                href="https://movies-uni.herokuapp.com/"
                target="_blank">Goto page <fa-icon [icon]="link"></fa-icon></a>
            </div>
        </div>
        <div class="live-project">
            <a href="https://cubi-games.itch.io/24h-of-lemans-interactive-map" target="_blank" class="img">
                <img src="../../assets/img/24h-lemans.png" height="auto" width="100%">
            </a>
            <div class="desc">
                <div>
                    <h3>24h LeMans interactive map</h3>
                    <p>Full 24 hour race replay using official data from FIA. View specific racing categories or cars. Check their location on track. Fast forward time or jump to specific race hour.<br><br>
                        Built with Unity 3D game engine and C# with Unity's librady.
                    </p>
                </div>
                <a mat-stroked-button 
                href="https://cubi-games.itch.io/24h-of-lemans-interactive-map"
                target="_blank">Goto page <fa-icon [icon]="link"></fa-icon></a>
            </div>
        </div>
    </div>
</main>
